<footer>
    <div class="footer-links">
        <a href="/">
        <img src="/images/logo.svg" alt="Scoot - Home">
        </a>
        <a href="/about">About</a>
        <a href="/location">Location</a>
        <a href="/careers">Careers</a>
    </div>
    <div class="footer-social-links">
    <a href="#"><img src="/images/icons/facebook.svg" alt="Facebook"></a>
    <a href="#"><img src="/images/icons/twitter.svg" alt="Twitter"></a>
    <a href="#"><img src="/images/icons/instagram.svg" alt="Instagram"></a>
    </div>
</footer>