<footer>
    <div class="footer-links">
        <a href="/"><span class="sr-only">Scoot - Home</span>
        {% icon "logo" %}
        </a>
        <a href="/about">About</a>
        <a href="/location">Location</a>
        <a href="/careers">Careers</a>
    </div>
    <div class="footer-social-links">
    <a href="#"><span class="sr-only">Facebook</span>{% icon "facebook" %}</a>
    <a href="#"><span class="sr-only">Twitter</span>{% icon "twitter" %}</a>
    <a href="#"><span class="sr-only">Instagram</span>{% icon "instagram" %}</a>
    </div>
</footer>