<header>
<img class="hamburger" src="/images/icons/hamburger.svg" alt="Open menu">
<img class="close hidden" src="/images/icons/close.svg" alt="Close menu">
<a href="/"><img class="logo" src="/images/logo.svg" alt="Scoot - Home" width="75.5" height="20" ></a>
<nav>
<a href="/about">About</a>
<a href="/location">Location</a>
<a href="/careers">Careers</a>
<button class="open-menu-btn">Get Scootin</button>
</nav>
</header>