<header>
<img class="hamburger" src="/images/icons/hamburger.svg" alt="Open menu">
<img class="close hidden" src="/images/icons/close.svg" alt="Close menu">
<a href="/" class="logo"><span class="sr-only">Scoot - Home</span>
{% icon "logo" %}
</a>
<nav>
<a href="/about">About</a>
<a href="/location">Location</a>
<a href="/careers">Careers</a>
<button class="open-menu-btn">Get Scootin</button>
</nav>
</header>