<section class="signup">
<h2>Sign up and Scoot off today</h2>

<div class="store-btns">
<a href="#"><span class="sr-only">App Store</span>
{% icon "app-store" %}
</a>

<a href="#"><span class="sr-only">Google Play Store</span>
{% icon "google-play" %}
</a>
</div>
{# {% icon "semi-circles" %} #}
{# {% icon "circle" %} #}
</section>