footer {
    background-color: $dark-grey;
    padding: $size64 30% 5.5rem;

    @include mq-tablet {
        padding: 2.1875rem $size40 $size32;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include mq-desktop {
        padding-left: 10.5rem;
        padding-right: 10.3125rem;
    }
}

.footer-links {
    @include mq-tablet {
        display: flex;
        align-items: center;
    }
}

.footer-links a {
    display: block;
    color: $dim-grey;

    @include mq-tablet {
        display: inline-block;
    }
}

.footer-links a:hover {
    color: $yellow;
}

.footer-links a + a {
    margin-top: 1rem;

    @include mq-tablet {
        margin-top: 0;
        margin-left: $size24;
    }
}

.footer-links a:nth-child(2) {
    padding-top: 1.59rem;

    @include mq-tablet {
        padding-top: 0;
        padding-left: 2.16rem;
    }
}

.footer-social-links {
    padding-top: 5.3125rem;

    @include mq-tablet {
        padding-top: 0;
    }
}

.footer-social-links a {
    line-height: 0;
}

.footer-social-links a + a {
    margin-left: $size24;
}

.icon {
    color: $yellow;

    &:hover {
        color: $light-grey;
    }
}

.icon--logo {
    height: 29px;
    width: 108px;
    color: $white;

    &:hover {
        color: $yellow;
    }
}
