h1,
h2,
h3,
h4,
nav,
footer,
button {
    font-family: $font-family-headers;
}

h1,
.hero p {
    color: $white;
}

p {
    font-family: $font-family-base;
}

h1 {
    font-size: $size40;
    line-height: 1;
}

a {
    text-decoration: none;

    &:hover {
        color: $yellow;
    }
}
