---
layout: layouts/base-layout
title: Frontend Mentor | Scoot
---

<section class="hero">
    <div class="hero-container">
        <h1>Scooter sharing made simple</h1>
        <p class="hero-text">Scoot takes the hassle out of urban mobility. Our bikes are placed in convenient locations in each of our cities. Use our app to locate the nearest bike, unlock it with a tap, and you’re away!</p>
        <button>Get Scootin</button>
    </div>
</section>

<section class="features">
    <div class="feature">
        <img src="/images/icons/locate.svg" height="56" width="56" alt="">
        <div class="feature-text">
            <h3>Locate with app</h3>
            <p>Use the app to find the nearest scooter to you. We are continuously placing scooters in the areas with most demand, so one should never be too far away.</p>
        </div>
    </div>

    <div class="feature">
        <img src="/images/icons/scooter.svg" height="56" width="56" alt="">
        <div class="feature-text">
            <h3>Pick your scooter</h3>
            <p>We show the most important info for the scooters closest to you. So you know how much charge they have left and can see roughly how much it will cost.</p>
        </div>
    </div>

    <div class="feature">
        <img src="/images/icons/ride.svg" height="56" width="56" alt="">
        <div class="feature-text">
            <h3>Enjoy the ride</h3>
            <p>Scan the QR code and the bike will unlock. Retract the cable lock, put on a helmet, and you’re off! Always lock bikes away from walkways and accessibility ramps.</p>
        </div>
    </div>
</section>

<section class="learn-more">
    <div class="learn-more-section">
        <img src="/images/images/telemetry.jpg" alt="">
        <div class="learn-more-text">
            <h2>Easy to use riding telemetry</h2>
            <p>The Scoot app is available with riding telemetry. This means it can show you your average speed, how long you've been using the scooter, your traveling distance, and many more things all in an easy to use app.</p>
            <button>Learn More</button>
        </div>
    </div>

    <div class="learn-more-section">
        <img src="/images/images/near-you.jpg" alt="">
        <div class="learn-more-text">
            <h2>Coming to a city near you</h2>
            <p>Scoot is available in 4 major cities so far. We’re expanding rapidly, so be sure to let us know if you want to see us in your hometown. We’re aiming to let our 
            scooters loose on 23 cities over the coming year.</p>
            <button>Learn More</button>
        </div>
    </div>

    <div class="learn-more-section">
        <img src="/images/images/payments.jpg" alt="">
        <div class="learn-more-text">
            <h2>Zero hassle payments</h2>
            <p>Our payment is as easy as one two three. We accept most credit cards and debit cards. You can also link your PayPal account inside the app. Need to pay later? No worries! You can defer payment for up to a month.</p>
            <button>Learn More</button>
        </div>
    </div>
</section>

